body{
	background-color: #2f3640;
	font-family:courier;
	width: 100%;
	height: 100%;
	align-items: center; 
	display: grid;
	justify-content: center;
	text-align: center;
	overflow: hidden;
}
img{
	width: 200px;
	height:200px;
	border-radius:70%;
	border: 0.1rem solid black;

}
button:hover {
   transform: scale(1.2);
   transition: 1.1s;
}
button{ 
 font-family:sans-serif;
 font-weight: bold;
 margin-right: auto;
 margin-left: : auto;
 margin-top: 10px;
 border-radius: 10px;
 cursor: pointer;
 background-color: #12CBC4;
}	